.btn-relative {
    position: relative;
    width: 100%;
    height: 90px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    animation: rotate_3922 2.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container span {
    position: absolute;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  .container span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .container span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .container span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .container span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .container .circle-tap {
        position: absolute;
        top:8px;
        left: 8px;
        right: 10px;
        bottom: 10px;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        transition: transform 0.2s ease;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        transition: 0.2s;
  }.container .circle-tap:active {
    transform: scale(0.9);
    box-shadow: none;
  }

  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  